.search-section {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 54px;
}

.search-bar, .search-blue, .contact-button {
    display: flex;
    align-items: center;
    padding: 16px 28px;
    border-radius: 51px;
    font-size: 16px;
    color: #999;
    margin-right: 36px;
}

.search-bar {
    width: 800px;
    height: 44px;  
    border: 1px solid #ddd;
    background-color: #efefef;
}

.search-blue, .contact-button {
    width: 248px;
    height: 44px;
    margin-bottom: 15px;
}

.search-blue {
    background-color: #40A6FF;
    border: 1px solid  #40A6FF;
    color: #ffff;
}

.contact-button {
    background-color: #EFEFEF;
    border: 1px solid #DDD;
    align-items: center;
}