.searchSection {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 54px;
}

.searchBar, .searchBlue, .contactButton {
    display: flex;
    align-items: center;
    padding: 16px 28px;
    border-radius: 51px;
    font-size: 16px;
    color: #999;
    margin-right: 36px;
}

.searchBar {
    width: 800px;
    height: 44px;  
    border: 1px solid #ddd;
    background-color: #efefef;
}

.searchBlue, .contactButton {
    width: 248px;
    height: 44px;
    margin-bottom: 15px;
}

.searchBlue {
    background-color: #40A6FF;
    border: 1px solid  #40A6FF;
    color: #ffff;
}

.contactButton {
    background-color: #EFEFEF;
    border: 1px solid #DDD;
    align-items: center;
}
